h1 {
    font-size: 30px;
    color: #124142;
}

p {
    font-size: 40px;
    color: red;
}

.prueba {
    color:  blue;
    font-size: 10px;
}

p > span.prueba2 {
    color:  green;
    font-size: 10px;
}


#chico {
    font-size: 90px;
}


#padre {
    background-color: red;
}

.hijo {
    background-color: black;
    color: white;
    margin: 20px 10px 0px 5px;
}

.btn-flat {
    border-radius: 0 !important;
    background-color: red !important;
}

.btn-flat {
    border-radius: 0 ;
    background-color: blue !important;
}

.bgBlue {
    height: 30px;
    width: 100%;
    background-color: blue;
}

.bgRed {
    height: 30px;
    width: 100%;
    background-color: red;
}

.p-20 {
    padding: 20px;
}

.error {
    color: white;
    background-color: red !important;
}

.error {
    background-color: blue;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-link {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}