﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="/p/nuevo"><button type="button" class="btn btn-success">Nuevo</button></a>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
        </tr>
    </thead>
    <tbody id="tblBody">

    </tbody>
</table>

<script>


    var url = "/api/persona/obtenerlistado"

    $.post(url, function (data) {

        if (data.estatus) {
            // obtener la tabla de la vista por el id
            var tabla = $("#tblBody");
            // recorrer cada elemento de la lista persona
            $.each(data.resultado, function (key, item) {
                // crear una fila
                var row = "<tr><td>" + item.Nombre + "</td><td>" + item.Apellido + "</td></tr>";
                // insertar fila en la tabla
                tabla.append(row);
            });
        } else {
            // mensaje en caso de error
            alert(data.mensaje)
        }
    }, "json")
      .fail(function (d) {
          // que hacer en caso de que la solicitud al api falle.

      });
</script>

