﻿
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Insertar <small>Usuario</small></h1>
</div>

<div class="p-20">
    <form role="form" onsubmit="return enviar();">
        <div class="form-group">
            <label class="control-label" for="txtNombre">Nombre</label>
            <input type="text" class="form-control required" placeholder="Nombre" id="txtNombre">
        </div>
        <div class="form-group">
            <label class="control-label" for="txtApellido">Apellido</label>
            <input type="text" class="form-control required" placeholder="Apellido" id="txtApellido">
        </div>
        <div class="form-group">
            <button class="btn btn-warning" type="reset">Limpiar</button>
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>
</div>

<script>

    function enviar() {
        var url = "/api/persona/insertar"
        // enviar los datos al api.
        $.post(url, { nombre: $("#txtNombre").val(), apellido: $("#txtApellido").val() }, function (data) {
            // en data esta el resultado que envia el api con : estatus, mensaje, resultado.
            if (data.estatus) {
                alert(data.mensaje);
            } else {
                alert(data.mensaje);
            }
        }, "json")
      .fail(function (d) {
          // que hacer en caso de que la solicitud al api falle.
      });
        return false;
    }

</script>